{% extends "base.html.twig" %}

{% block body %}

	<h1>{{ program.title }}</h1>

	<h2>Saison :
		{{ season.number }}</h2>

	<h3>Liste des épisodes:</h3>
	<ul>
		{% for episode in season.episodes %}

			<li>
				<a href="{{ path('program_episode_show', {programID: program.id, seasonID: season.id, episodeID: episode.id}) }}">Episode
					{{ episode.number }}
					:
					{{ episode.title }}. 
					        Durée
					{{ episode.duration }}
					min</a>
			</li>

		{% endfor %}

	</ul>

{% endblock %}
